In [3]:
print(2+2)

4

In [6]:
a=3
b=5
print(a+b) # add
print(a-b) # sub
print(a/b) # division
print(a*b) # multiply
print(a%b) # remainder
print(a**b) # square
print(('{} x {} = {}').format(a, b, a*b)) # print the output in specific format

8
-2
0.6
15
3
243
3 x 5 = 15

In [8]:
# for calculate the square root
import math as m
a=25
print(m.sqrt(25))

5.0

In [11]:
a=10
b=float(12.2)
c='a'
d='sscd'
print(type(a))
print(type(b))
print(type(c))
print(type(d))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'str'>

In [68]:
my_list=[1,2,3,4,5,6]
print(my_list)
print(my_list[0])
print(my_list[1])
print(my_list[2])
print(my_list[3])
print(my_list[4])
print(my_list[5])
print(my_list[-1])
print(my_list[-2])
print(my_list[-3])
print(my_list[-4])
print(my_list[-5])
print(my_list[-6])
print(my_list[1:3])
print(my_list[1:])
print(my_list[:2])
# print(my_list[6]) this statement through index out of range

[1, 2, 3, 4, 5, 6]
1
2
3
4
5
6
6
5
4
3
2
1
[2, 3]
[2, 3, 4, 5, 6]
[1, 2]

In [33]:
my_list1=[1,2,3,4,5,6]
my_list1[2] = 'a' # we can change the element of list by accesing the index
print(my_list1)
my_list1.append(9) # we can add the elements as well
print(my_list1)
my_list1.remove(2) # this method remove the given element from the list
print(my_list1)
#my_list1.remove(20) this will throw error as elemnt is not present in list
my_list1.pop(2) #this method remove the element of given index from the list
print(my_list1)
print(len(my_list1)) # print the length of the array

[1, 2, 'a', 4, 5, 6]
[1, 2, 'a', 4, 5, 6, 9]
[1, 'a', 4, 5, 6, 9]
[1, 'a', 5, 6, 9]
5

In [35]:
# it is easy to initialize a list of a particular size with all entries the same
repeated_list = [5]*10
print(repeated_list)

[5, 5, 5, 5, 5, 5, 5, 5, 5, 5]

In [41]:
# copying lists is a little tricky
original_list=[2,3,4,5,6]
copy_list = original_list 
print(copy_list)
copy_list[2] =100
print(copy_list)
print(original_list)
# way of copying the list causes issues as when we change the element of copy list,
#it will automatically change the elemnt of original list.
#to avoid this, we can use copy() method

copy_list1 = original_list.copy()
print(copy_list1)
copy_list1[2] = 200
print(copy_list1)
print(original_list)

[2, 3, 4, 5, 6]
[2, 3, 100, 5, 6]
[2, 3, 100, 5, 6]
[2, 3, 100, 5, 6]
[2, 3, 200, 5, 6]
[2, 3, 100, 5, 6]

In [46]:
new_list=[1,2,3,4,5]
print(new_list)
new_list[0] =['a','b'] # we can pass list inside the list
new_list[1] = [3]*4 
print(new_list)
print(new_list[0][1]) # way of access the elements of nested list
print(new_list[1][1])

[1, 2, 3, 4, 5]
[['a', 'b'], [3, 3, 3, 3], 3, 4, 5]
b
3

In [49]:
# a tuple is an ordered collection of values that are unchangeable and allows duplicates
first_tuple=(1,2,3,4)
print(first_tuple)
print(first_tuple[0])
print(first_tuple[1])
print(first_tuple[2])
print(first_tuple[3])

(1, 2, 3, 4)
1
2
3
4

In [50]:
first_tuple[1]=4   # 'tuple' object does not support item assignment

TypeError: 'tuple' object does not support item assignment

In [51]:
#to change the value of tuple, first we have to typecast it into list and 
# do modfication and then type case it to tuple
second_tuple=(1,2,3,4)
typecast_list = list(second_tuple)
typecast_list[1] = 100
second_tuple = tuple(typecast_list)
print(second_tuple)

(1, 100, 3, 4)

In [55]:
# a set is an unordered collection of values that are changeable and does not allow duplicates
first_set={1,2,2,3}
print(first_set)
#print(first_set[0])# we can not access values by using index
#print(first_set[1])
#print(first_set[2])
#print(first_set[3])

{1, 2, 3}

In [56]:
# we can't change values but we can add and remove entries from a set
first_set.add(2)
print(first_set)
first_set.add(122)
print(first_set)
first_set.remove(2)
print(first_set)

{1, 2, 3}
{1, 2, 3, 122}
{1, 3, 122}

In [62]:
# a dictionary is a collection of values that are unordered (but indexed) and changeable
first_dic = {
    "firstName" : "yeshu",
    "lastName" : "Agarwal",
    "age" : 32
}
print(first_dic)
print('My full name is', first_dic['firstName'], first_dic['lastName'])

{'firstName': 'yeshu', 'lastName': 'Agarwal', 'age': 32}
My full name is yeshu Agarwal

In [63]:
first_dic['place'] ='Hathras'
print(first_dic)

{'firstName': 'yeshu', 'lastName': 'Agarwal', 'age': 32, 'place': 'Hathras'}

In [64]:
first_dic["education"] ="B.Tech"
print(first_dic)

{'firstName': 'yeshu', 'lastName': 'Agarwal', 'age': 32, 'place': 'Hathras', 'education': 'B.Tech'}